<?php
$dbms = '{{ getenv "PHPBB_DATABASE_TYPE" }}';
$dbhost = '{{ getenv "PHPBB_DATABASE_HOST" }}';
$dbport = '{{ getenv "PHPBB_DATABASE_PORT" }}';
$dbname = '{{ getenv "PHPBB_DATABASE_NAME" }}';
$dbuser = '{{ getenv "PHPBB_DATABASE_USER" }}';
$dbpasswd = '{{ getenv "PHPBB_DATABASE_PASS" }}';
$table_prefix = '{{ getenv "PHPBB_DATABASE_PREFIX" }}';
$acm_type = 'file';
$load_extensions = '';
@define('PHPBB_INSTALLED', true);
?>
